th {
  text-align: left;
  padding: 5px 25px 5px 0px;
}

td {
  text-align: left;
}

.title {
  font-size: xx-large;

}

.container {
  margin-top: 40px;
}

.card {
  margin: 20px auto auto 20px;
  width: 40%;
}
