<div >
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="title">{{country.name | titlecase}}</mat-card-title>
    </mat-card-header>  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <div >
        <table class="w-100 table-striped custom-data-table">
          <tbody>
          <tr>
            <th>Main Language :</th>
            <td>{{country.mainLanguage | titlecase}}</td>
          </tr>
          <tr>
            <th>Continent :</th>
            <td>{{country.continent | titlecase}}</td>
          </tr>
          <tr>
            <th>Currency :</th>
            <td>{{country.currencyCode | uppercase}}</td>
          </tr>
          <tr>
            <th>Population :</th>
            <td>{{country.population}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <img [src]="mapUrl" alt="Country Map">
      </div>
    </div>
  </mat-card-content>
  </mat-card>
</div>
