<div fxLayoutAlign="center" >
  <mat-card class="example-card" fxFlex="60" align="center">
    <form [formGroup]="countryUpdateForm" >
      <mat-card-header>
        <mat-card-title>Country Update Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Name of the Country</mat-label>
            <label>
              <input formControlName="name" matInput placeholder="Ex: Sri Lanka" [(ngModel)]="country.name">
            </label>
            <mat-error *ngIf="name.invalid && name.touched">This value is required</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Continent</mat-label>
            <label>
              <input formControlName="continent" matInput placeholder="Ex: Asia" [(ngModel)]="country.continent">
            </label>
            <mat-error *ngIf="mainLanguage.invalid && mainLanguage.touched">This value is required</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Main Language</mat-label>
            <label>
              <input formControlName="mainLanguage" matInput placeholder="Ex: Sinhala" [(ngModel)]="country.mainLanguage">
            </label>
            <mat-error *ngIf="mainLanguage.invalid && mainLanguage.touched">This value is required</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Population</mat-label>
            <label>
              <input  formControlName="population" matInput placeholder="Ex: 2000000" [(ngModel)]="country.population">
            </label>
            <mat-hint align="end">Max value is 2147483647</mat-hint>
            <mat-error *ngIf="population.invalid && population.touched">You exeeded the maximum value</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Currency</mat-label>
            <label>
              <input #input maxlength="3" formControlName="currencyCode" matInput placeholder="Ex: LKR" [(ngModel)]="country.currencyCode">
            </label>
            <mat-hint>{{input.value?.length || 0}}/3</mat-hint>
          </mat-form-field>
        </p>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="onSubmit()" [disabled]="!countryUpdateForm.valid" mat-raised-button color="primary">Submit</button>
        <button (click)="onCancel()" mat-stroked-button color="warn">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
