<div fxLayout="row" fxLayoutAlign="center center" class="mt-30">
  <mat-card fxLayout="column" fxFlex.gt-sm="40" fxLayoutAlign="center" class="mat-elevation-z20" fxFlex.lt-sm="100">
    <form [formGroup]="countryForm"  fxFlex="100">
      <mat-card-header>
        <mat-card-title>Country Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Name of the Country</mat-label>
            <label>
              <input formControlName="name" matInput placeholder="Ex: Sri Lanka">
            </label>
<!--            <mat-error *ngIf="name.errors.required && name.touched">This value is required</mat-error>-->
            <mat-error *ngIf="name.errors.pattern && name.touched">Enter only letters</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Continent</mat-label>
            <label>
              <input formControlName="continent" matInput placeholder="Ex: Asia">
            </label>
<!--            <mat-error *ngIf="continent.errors.required && continent.touched">This value is required</mat-error>-->
            <mat-error *ngIf="continent.errors.pattern && continent.touched">Enter only letters</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Main Language</mat-label>
            <label>
              <input formControlName="mainLanguage" matInput placeholder="Ex: Sinhala">
            </label>
<!--            <mat-error *ngIf="mainLanguage.errors.required && mainLanguage.touched">This value is required</mat-error>-->
            <mat-error *ngIf="mainLanguage.errors.pattern && mainLanguage.touched">Enter only letters</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Population</mat-label>
            <label>
              <input formControlName="population" matInput placeholder="Ex: 2000000">
            </label>
            <mat-hint >Max value is 2147483647</mat-hint>
<!--            <mat-error *ngIf="population.errors.maxlength && population.touched">You exeeded the maximum value</mat-error>-->
            <mat-error *ngIf="population.errors.pattern && population.touched">Enter only numbers</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="standard" class="full-width">
            <mat-label>Currency</mat-label>
            <label>
              <input  #input maxlength="3" minlength="3" formControlName="currencyCode" matInput placeholder="Ex: LKR">
            </label>
            <mat-hint>{{input.value?.length || 0}}/3</mat-hint>
            <mat-error *ngIf="currencyCode.errors.pattern && currencyCode.touched">Enter only letters</mat-error>
          </mat-form-field>
        </p>

      </mat-card-content>
      <mat-card-actions>
        <button (click)="onSubmit()" [disabled]="!countryForm.valid" mat-raised-button color="primary">Submit</button>
        <button (click)="onCancel()" mat-stroked-button color="warn">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
